/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
    font-family: Arial, Times, serif;
}

#wrapper {
    display: flex;
}



@media (max-height:1080px){
    .loginPage img{
        height:920px;
        width:1200px;
    }
    .loginPage .row {
        margin-right:0px;
        margin-left:0px;
    }
}
@media (max-height:780px){
    
    .loginPage img{
        height:780px;
        width:800px;
    }
    .loginPage .row {
        margin-right:0px;
        margin-left:0px;
    }
}
@media(max-width:1999px) {
    .main-panel {
        position: inherit;
        margin-top: 5%;
        padding: 0 10px;
    }
}
@media(max-width:1600px) {
    .main-panel {
        position: inherit;
        margin-top: 12%;
        padding: 0 10px;
    }
}@media(max-width:1440px) {
    .main-panel {
        position: inherit;
        margin-top: 8%;
        padding: 0 10px;
    }
}
@media(max-width:780px) {
    .main-panel {
        position: inherit;
        margin-top: 15%;
        padding: 0 10px;
    }
}
@media(max-width:450px) {
    .main-panel {
        position: inherit;
        margin-top: 25%;
        padding: 0 10px;
    }
}


.sidebar .sidebar-search {
    padding: 15px;
}



.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 50%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.error
    {
        color:red; 
        font-size:13px; 
        font-style: italic;
    }
.checkbox_inbound{
            border: solid black 1px;
            width:20px;
            height: 20px;
            display: inline;
            top: 5px;
        }

.myButton {
    width: 95px;
}











#construction {
width: 40%;
height: 100%;
margin: 0 auto;

position: relative;
}

#main{
width: 30%;
height: 100%;
margin: 0 auto;
margin-top: 10%;
position: relative;
}
h2{
font-family:raleway;
}
div#envelope{
position: relative;
width: 100%;
border: 1px solid #CFCFD0;
border-radius: 10px;
background-color: #FFFFFF;
}
div#content{
width: 100%;
padding:12px auto;
overflow: hidden;
word-break: break-all;
overflow-wrap: break-word;
border-radius: 0 0 10px 10px;
border: solid #079BAE;
}
header#sign_in{
font-family:raleway;
background-color: #079BAE;
text-align: center;
padding-top: 12px;
padding-left: 5px;
padding-bottom: 8px;
border-radius: 10px 10px 0 0;
color: white;
}
header#info{
font-family:raleway;
background-color: #079BAE;
margin-top: -11px;
padding-top:15px;
padding-bottom: 42px;
padding-left: 15px;
padding-right: 15px;
font-size: 16px;
border-radius: 10px 10px 0 0;
color: white;
height: 100px;

}
header#info a.user_name{
font-family:raleway;
text-decoration: none;
color:white;
}


p.profile {
font-weight: bold;
font-size: 20px;
}
img.user_img{
border-radius:50% 50% 50% 50%;
border:3px solid white;
width: 30%;
display: inline-block;

}
img.user_img:hover{
border-radius:50% 50% 50% 50%;
border:3px solid white;
width: 30%;
display: inline-block;

}
p.welcome{
    padding: 15px;
    font-size: 15px;
}
a.a_welcome, a.a_welcome:visited, a.a_welcome:link, a.a_welcome:active{
    text-decoration: none; 
}

#header-icon.fa-user, #header-icon.fa-caret-down{
    color: white;

}

a.dropdown-toggle.active:active, a.dropdown-toggle.active:hover, a.dropdown-toggle.active:focus {
 background-color:  black;
}

div.evaluation_form_heading{
    background-color: #E6E6FA;
}



div.inline{
    display: inline-block;
}

img.flag{
    width:50px;
    height:25px;
    margin-top: -5px;
}

span.glyphicon-remove-circle {
    font-size: 1.5em;
    color: #B22222;
}
span.glyphicon-remove-circle:hover  {
    font-size: 1.7em;
    color: red;
}

img#loading {
    position: absolute;
    z-index: 1050;
    left: 45%;
    top: 30%;
    width: 250px;

}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon {                
    opacity: 1;             
}
.button-box{
    border:1px black solid;
    border-radius: 5px;
    width: 36px !important;
    height:36px !important;
}
.button-box-small{
    border:1px black solid;
    border-radius: 5px;
    width: 25px !important;
    height:25px !important;
}

.btn-green-checkbox {
    color: #fff;
    background-color: #3cba54;
    border-color: #3cba54;
    width: 25px !important;
    height:25px !important;
    left:-1px;
    top:-1px;
}

.btn-yellow-checkbox {
    color: #fff;
    background-color: #f4c20d;
    border-color: #f4c20d;
    width: 25px !important;
    height:25px !important;
    left:-1px;
    top:-1px;
}

.glyphicon-position{
    left:-5px;
    top:-5px;
}

.add_user{
    width:50px;
}

.add_user:hover{
    width:65px;
}

.img-circle{
    width:150px;
    border-radius: 50;
}

.edit_user_error{
    color:#ff0000;
    text-align:right;
    display: none;
}

i.fa.fa-check-circle {
    color: green;
}

.btn-green {
    color: #fff;
    background-color: #3cba54;
    border-color: #3cba54;
}

.btn-yellow {
    color: #fff;
    background-color: #f4c20d;
    border-color: #f4c20d;
}

.btn-red {
    color: #fff;
    background-color: #db3236;
    border-color: #db3236;
}

.btn-blue {
    color: #fff;
    background-color: #4885ed;
    border-color: #4885ed;
}

.modal-green {
    color: #fff;
    background-color: #3cba54;
    border-color: #3cba54;
}

.modal-yellow {
    color: #fff;
    background-color: #f4c20d;
    border-color: #f4c20d;
}

.modal-red {
    color: #fff;
    background-color: #db3236;
    border-color: #db3236;
}

.modal-blue {
    color: #fff;
    background-color: #4885ed;
    border-color: #4885ed;
}


textarea.form-control-custom {
    min-height: 70px;
    width: 450px;
}




